<h2>Borrow Details</h2>
<form #myForm="ngForm"  class="add-new-book">


  <mat-form-field>
    <mat-select name="userId" placeholder="Select User" [(ngModel)]="formObject.userId" #userId="ngModel" required>
      <mat-option *ngFor="let user of userList" [value]="user.userId">{{ user.name }}</mat-option>
    </mat-select>
  <mat-icon matSuffix>people</mat-icon>
</mat-form-field>

<mat-form-field>
  <mat-select name="bookId" placeholder="Select Book" [(ngModel)]="formObject.bookId" #bookId="ngModel" required>
    <mat-option *ngFor="let book of bookList" [value]="book.bookId">{{ book.title }}
    </mat-option>
  </mat-select>
<mat-icon matSuffix>book</mat-icon>
</mat-form-field>

</form>


<button mat-raised-button color="primary" (click)="save()">Save</button>

<button mat-button [mat-dialog-close]>Close</button>

<!-- {{myForm.value |json}} -->
